@import "tailwindcss";
@import "./global.css";


.custom-select-wrapper {
    @apply relative;
}

.custom-select {
    @apply
    w-full px-4 py-3 pr-11
    rounded-xl border-2 border-main-gold
    bg-main-white
    font-medium text-base
    cursor-pointer focus:outline-none
    focus:border-main-gold
    appearance-none;
}

.custom-select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 0.65rem;
    height: 0.65rem;
    border-right: 2px solid var(--color-main-blue);
    border-bottom: 2px solid var(--color-main-blue);
    transform: translateY(-65%) rotate(45deg);
    pointer-events: none;
    transition: border-color 0.3s ease;
}

.custom-select:focus ~ .custom-select-wrapper::after,
.custom-select-wrapper:has(.custom-select:focus)::after {
    border-color: var(--color-main-gold);
}

.custom-select option[disabled] {
    color: #9ca3af;
}

.custom-select option {
    padding: 0.5rem;
    color: var(--color-main-blue);
}

.custom-select.border-red-500 {
    @apply border-red-500;
}