@import "tailwindcss";

@tailwind utilities;

@theme {
    --color-main-blue: #0c1827;
    --color-main-blue-50: #ebf2f9;
    --color-main-blue-100: #d8e4f3;
    --color-main-blue-200: #b1c9e7;
    --color-main-blue-300: #8aaedb;
    --color-main-blue-400: #6394cf;
    --color-main-blue-500: #3c79c3;
    --color-main-blue-600: #30619c;
    --color-main-blue-700: #244875;
    --color-main-blue-800: #18304e;
    --color-main-blue-900: #0c1827;
    --color-main-blue-950: #08111b;
    --color-secondary-blue: #2596be;
    --color-light-blue: #AADCEE;

    --color-main-white: #F9FAFB;
    
    --color-main-gray: #EFF1ED;
    --color-secondary-gray: rgb(120, 136, 159);
    
    --color-main-gold: #81714B;
    --color-secondary-gold: #C3B698;

    --color-main-yellow: #ffcc00;
    --color-secondary-yellow: #FFE270;

}

/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Poppins */
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@theme {

    /* fonts */
    --font-poppins: "Poppins", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}


@layer base {
    h1, h2, h3, h4 {
        @apply font-montserrat;
    }   
}

@layer components {
    .btn-primary {
        @apply
        transition-all duration-500 ease-out
        hover:shadow-xl
        hover:-translate-y-0.5
        active:translate-y-0
        active:scale-[0.98]
    }

    .main-service-li {
        @apply
        flex items-center gap-3 rounded-lg py-2 lg:py-2
    }
    
    .main-service-p {
        @apply
        text-black text-sm md:text-lg lg:text-xl
    }

    .animation-fade-in {
        @apply
        opacity-0 translate-y-12 transition-all ease-out
    }

    .section-header-size {
        @apply
        text-4xl md:text-5xl lg:text-6xl
    }

    .link-rapid {
        @apply
        mb-1 text-main-gray hover:text-gray-400 w-fit
    }

    .title-servicii-card {
        @apply
        text-center mt-2 mb-3 text-2xl font-semibold md:mb-5 lg:text-4xl lg:text-left text-main-blue
    }

    .description-servicii-card {
        @apply
        text-sm text-gray-500 mb-6 text-center font-medium md:mb-8 lg:text-left lg:text-xl
    }

    .li-servicii-section {
        @apply
        flex items-center my-1
    }
    
    .p-li-servicii-section {
        @apply
        text-sm md:text-lg ml-1 text-gray-600
    }

}

