@import "tailwindcss";

@theme {
    --color-main-blue: #0c1827;
    --color-secondary-blue: #2596be;
    --color-light-blue: #AADCEE;

    --color-main-white: #F9FAFB;
    
    --color-main-gray: #EFF1ED;
    --color-secondary-gray: rgb(120, 136, 159);
    
    --color-main-gold: #81714B;
    --color-secondary-gold: #C3B698;

    --color-main-yellow: #ffcc00;
    --color-secondary-yellow: #FFE270;
}

@layer components {
    .btn-primary {
        @apply
        transition-all duration-200 ease-out
        hover:shadow-xl
        hover:-translate-y-0.5
        active:translate-y-0
        active:scale-[0.98]
    }
}