@import "tailwindcss";

@theme {
    --color-main-blue: #0c1827;
    --color-main-blue-50: #ebf2f9;
    --color-main-blue-100: #d8e4f3;
    --color-main-blue-200: #b1c9e7;
    --color-main-blue-300: #8aaedb;
    --color-main-blue-400: #6394cf;
    --color-main-blue-500: #3c79c3;
    --color-main-blue-600: #30619c;
    --color-main-blue-700: #244875;
    --color-main-blue-800: #18304e;
    --color-main-blue-900: #0c1827;
    --color-main-blue-950: #08111b;
    --color-secondary-blue: #2596be;
    --color-light-blue: #AADCEE;

    --color-main-white: #F9FAFB;
    
    --color-main-gray: #EFF1ED;
    --color-secondary-gray: rgb(120, 136, 159);
    
    --color-main-gold: #81714B;
    --color-secondary-gold: #C3B698;

    --color-main-yellow: #ffcc00;
    --color-secondary-yellow: #FFE270;
}

@layer components {
    .btn-primary {
        @apply
        transition-all duration-200 ease-out
        hover:shadow-xl
        hover:-translate-y-0.5
        active:translate-y-0
        active:scale-[0.98]
    }

    .main-service-li {
        @apply
        flex items-center gap-3 rounded-lg py-2 lg:py-2
    }
    
    .main-service-p {
        @apply
        text-black text-sm md:text-lg lg:text-xl
    }
}

